.maindiv{
  box-shadow: saddlebrown;

  display: flex;
  flex-wrap: wrap;
}

.imgdiv{
  width: 200px;
  height: 200px;
  background-color: rgb(219, 199, 196);
  margin: 10px 10px ;
}

.img{
   width: 180px;
   height: 180px;
   margin: 10px 10px;
  }
